/* Full-page background */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://media.istockphoto.com/id/1336515040/vector/mountains-and-coniferous-forest-landscape.jpg?s=612x612&w=0&k=20&c=M9wck1Me6f5sczxJD7mbgFBa_mXxvuVEBmIODhjoUUc='); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

/* Time and Date Styling */
#clock, #date {
    font-size: 10vw; /* Responsive font size */
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 10px;
    color: rgb(6, 29, 29)
}

#line-progress {
    width: 80%;
    height: 20px;
    background-color: #444;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#progress-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #4caf50;
    width: 0%;
    transition: width 1s ease;
}

#date {
    font-size: 5vw;
    margin-top: 20px;
    color: #000000;
}
#message {
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: #22472d;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


